<div class="container ml-0 mt-5">

    <nav class="navbar navbar-expand-lg bg-info">
        <a class="navbar-brand text-light">Trainees List</a>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <button (click)="add()" class="btn btn-success float-right">Add New Trainee</button>
            </li>
        </ul>
    </nav>

    
    <div class="container mt-0 pt-5">
        <div class="input-group flex-nowrap mb-3 w-25">
            <label><i class="fa fa-search" aria-hidden="true"></i>Search:</label>
            <input type="text" class="form-control" placeholder="Search">
        </div>
        <table>
                <tr>
                        <th><i class="w3-medium custom-icon fa fa-refresh"></i> Sr. No.</th>
                        <th><i class="w3-medium custom-icon fa fa-user"></i> First Name</th>
                        <th><i class="w3-medium custom-icon fa fa-user"></i> Last Name</th>
                        <th><i class="w3-medium custom-icon fa fa-envelope-o"></i> Email</th>
                        <th><i class="w3-medium custom-icon fa fa-phone"></i> Phone</th>
                        <th><i class="w3-medium custom-icon fa fa-pencil"></i> Update</th>
                        <th><i class="w3-medium custom-icon fa fa-trash"></i> Delete</th>
                    </tr>
            <tr *ngFor="let student of students;let i = index">
                <td>{{i+1}}</td>
                <td>{{ student.firstName }}</td>
                <td>{{ student.lastName }}</td>
                <td>{{ student.email }}</td>
                <td>{{ student.phone }}</td>
                <td><button type="button" class="btn btn-success">Update</button></td>
                <td><button type="button" class="btn btn-danger" (click)="deleteTrainee(student.email)">Delete</button></td>
            </tr>
        </table>

    </div>

</div>
