<!--<p>sidebar works!</p>-->

<div style="display:flex;width: 100%">
<!-- The sidebar -->
<div class="container sidebar border-right shadow-lg">
    <i class="fa fa-users" id="logo" aria-hidden="true"></i>
  <div class="container mt-5 pt-5">
    <a routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/']" class="rounded"><i class="fa fa-list" aria-hidden="true"></i>Trainees List</a>
    <a routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"  [routerLink]="['/add']" class="rounded"><i class="fa fa-plus" aria-hidden="true"></i>Add New Trainee</a>
    <a routerLinkActive="active" (click)="logoutUser()" class="rounded"><i class="fa fa-sign-out" aria-hidden="true"></i>Logout</a>
  </div>
</div>

<!-- Page content -->
<div class="content">
  <router-outlet></router-outlet>
</div>
</div>