<div class="m-4">
  <div id="A1">
    <ul>     
          <h3 id="l1"><b>Trainee</b></h3>
          <h6 id="l2"><button id="Back" routerLink="/" class="btn btn-success mr-3 text-dark"><i style="font-size:15px ;color:'white'
          ;margin-bottom: 5px"  class="fa">
          &#xf104;</i> Back</button></h6>
      </ul>   
      </div>


  <div id="Class1" *ngIf="UserForms">
    <form  [formGroup]="UserForms" (ngSubmit)="onSubmit()" class="form-group">
    

      <label class="w3-text-blue" ><i class="w3-medium custom-icon fa fa-user"></i> <b> First Name</b></label><br>
      <input  type="text" formControlName="FirstName" class="form-control"><br>
      <div  class="bg-danger"  *ngIf="UserForms.controls.FirstName.invalid && (UserForms.controls.FirstName.dirty || UserForms.controls.FirstName.touched)">Please enter 3 to 50 characters</div> <br>

      <label class="w3-text-blue"><i class="w3-medium custom-icon fa fa-user"></i><b> Last Name</b></label><br>
      <input  type="text" formControlName="LastName" class="form-control"><br>
      <div  class="bg-danger" *ngIf="UserForms.controls.LastName.invalid && (UserForms.controls.LastName.dirty || UserForms.controls.LastName.touched)">Please enter  3 to 50 characters </div> <br>

      <label class="w3-text-blue" ><i class="w3-medium custom-icon fa fa-envelope"></i><b> Email Address</b></label><br>
      <input  type="text" formControlName="email" class="form-control"><br>
      <div  class="bg-danger" *ngIf="UserForms.controls.email.invalid && (UserForms.controls.email.dirty || UserForms.controls.email.touched)">Please enter valid email address</div> <br>

      <label class="w3-text-blue"><i class="w3-medium custom-icon fa fa-phone"></i><b> Phone</b></label> <br>
      <input  type="number" formControlName="phone" class="form-control"><br>
      <div class="bg-danger"  *ngIf="UserForms.controls.phone.invalid && (UserForms.controls.phone.dirty || UserForms.controls.phone.touched)">Please enter valid phone number</div> <br>
      <br>
      <button class="btn btn-primary" type="submit" [disabled]="!UserForms.valid" > {{ btnName }} </button>
      

    </form>
  </div>
</div>